<table class="table table-hover"">
<tr>
    <th>номер місяця</th>
    <th>погашення кредиту</th> 
    <th>погашення %</th>
    <th>загальний внесок</th>
    <th>залишок кредиту</th>
  </tr>
<% calculation.each do |row| %>
  <tr>
    <td> <%= row[:month] %> </td>
    <td> <%= row[:payment] %> </td>
    <td> <%= row[:percents] %> </td>
    <td> <%= row[:monthly_payment] %> </td>
    <td> <%= row[:scum] %> </td>
  </tr>
<% end %>
</table>
